{
  "plugins": [
    "transform-export-extensions",
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties",
    ["transform-react-jsx", { "pragma":"h" }]
  ],
  "presets": [
    "env",
    "react"
  ]
}
